dist*
static/tmp/
static/combined/
config/client_session_key.aes
*.hi
*.o
*.sqlite3
.hsenv*
cabal-dev/
yesod-devel/
.cabal-sandbox
cabal.sandbox.config
.DS_Store
*.swp
/secrets.m4
/config/keter.yml
/config/postgresql.yml
/config/settings.yml
/config/test-settings.yml
/Betty/SESCreds.hs
/betty.keter
/betty.pid
/.stack-work/
/Makefile.deploy
/issues/
*_flymake.hs
/TAGS
