dnl Variables in config/settings.yml
define(ANALYTICS_CODE, UA-YOURCODE)dnl
define(PRODUCTION_APPROOT, http://www.example.com)dnl
dnl
dnl Variables in config/postgresql.yml
define(DEFAULT_DB_USER, betty)dnl
define(DEFAULT_DB_PASS, betty)dnl
define(DEFAULT_DB_HOST, localhost)dnl
define(DEFAULT_DB_PORT, 5432)dnl
define(DEFAULT_DB_NAME, betty)dnl
define(DEFAULT_DB_POOL, 10)dnl
dnl
define(TESTING_DB_NAME, betty_test)dnl
dnl
define(STAGING_DB_USER, nothing)dnl
define(STAGING_DB_PASS, nothing)dnl
define(STAGING_DB_HOST, nothing)dnl
define(STAGING_DB_PORT, 5432)dnl
define(STAGING_DB_NAME, nothing)dnl
define(STAGING_DB_POOL, 100)dnl
dnl
define(PRODUCTION_DB_USER, nothing)dnl
define(PRODUCTION_DB_PASS, nothing)dnl
define(PRODUCTION_DB_HOST, nothing)dnl
define(PRODUCTION_DB_PORT, 5432)dnl
define(PRODUCTION_DB_NAME, nothing)dnl
define(PRODUCTION_DB_POOL, 100)dnl
dnl
dnl Variables in Settings/SESCreds.hs
define(SES_ACCESS, nothing)dnl
define(SES_SECRET, nothing)dnl
